.left-col{
	border-right:solid 1px #ccc;
 }

#map-canvas{
	min-height: 250px;
	width: 100%;
}
.city-image{
	max-height: 250px;
	margin: 0 auto;
	overflow: hidden;
}

.panel{

}
.panel-body{
	text-align: center;
	overflow: hidden;
}

.list-group .list-group-item{
	padding:0;
	margin: 0;
}

.list-group .list-group-item a{
	display: block;
	font-family: "Roboto";
	font-weight:700;
}

.list-group .list-group-item a:hover{
	text-decoration: none;
	
}